<div class="ui fluid raised card fixed">
  <div class="content">
    <div class="ui feed">
      <% @messages.each do |message| %>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>
                <%= message.user.username %> :
              </em>
              <span class="chat-message-text">
                <%= message.body %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="extra content">
      <form class="ui reply form">
        <div class="field">
          <div class="ui fluid icon input">
            <input type="text" placeholder="New message...">
            <i class="bordered inverted blue edit icon"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
