<div class="ui fluid raised card fixed">
  <div class="content">
    <div class="ui feed">
      <%= render @messages %>  
    </div>
  </div>
    <div class="extra content">
      <%= form_with(model: @message, url: message_path, local: true, class: "ui reply form") do |f| %>
        <div class="field">
          <div class="ui fluid icon input">
            <%= f.text_field :body, placeholder: "New message.." %>
            <%= f.button class: "chat-submit-btn ui blue button" do %>
              <i class="bordered inverted blue edit icon chat-submit-icon"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
