<div class="ui fluid raised card fixed">
  <div class="content">
    <div class="ui feed">
      <div class="event">
        <div class="content">
          <div class="summary">
            <em>Elliot Fu</em>: Test message
          </div>
        </div>
      </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Stevie Feliciano</em>: Another test message
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Ok Oh</em>: Another test message
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
              <em>Beverly Hills</em>: Another test message
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <form class="ui reply form">
        <div class="field">
          <div class="ui fluid icon input">
            <input type="text" placeholder="New message...">
            <i class="bordered inverted blue edit icon"></i>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>