<div class="four wide column">
  <div class="ui fluid raised card fixed">
    <div class="content" id="online-users">
      <% if @users.count > 0 %>
        <div class="ui secondary vertical menu">
          <div class="item">
            Online Chatters
            <i class="users green icon"></i>
          </div>
          <hr/>
          <% @users.each do |user| %>
            <% if user.active? %>
              <%= link_to user_path(user), class: "item" do %>
                <%= user.username %>
                <i class="user green icon"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <p>No chatters online <i class="frown outline icon"></i></p>
      <% end %>
    </div>
  </div>
</div>
