<h4 class="ui center aligned medium icon header">
  <i class="circular wechat blue icon"></i>
  Chatter
</h4>
<div class="ui two column grid">
  <div class="twelve wide column">
  <%= render "chatbox" %>
  <%= render "online_users" %>
  </div>
</div>
