<div>
  <h4 class="ui center aligned medium icon header">
    <i class="circular users blue icon"></i>
      Chatters
  </h4>
</div>
<div class="ui three column grid">
  <% @users.each do |user| %>
    <%= render "chatters", obj: user %>
  <% end %>
</div>
