@import 'semantic-ui';

.fixed {
  height: 450px;
}

.flash-message {
  margin-bottom: 25px;
}

.sign-up {
  color: #ffff !important;
}

.ui.button {
  font-weight: normal;
}

.ui.menu {
  border-radius: 0;
}

.ui.vertical.menu {
  width: 100%;
}
