@import 'semantic-ui';

.card-text {
  word-wrap: break-word;
}

.chat-message-text {
  font-weight: 400;
}

.fixed {
  height: 450px;
}

.flash-message {
  margin-bottom: 25px;
}

.index-card {
  height: 140px;
}

.sign-up {
  color: #ffff !important;
}

.ui.button {
  font-weight: 400;
}

.ui.menu {
  border-radius: 0;
}

.ui.vertical.menu {
  width: 100%;
}
